<header>
  <img src="logo1.png" alt="Triple Gem Herbs Logo" class="site-logo" />
  <h1>Triple Gem Herbs</h1>
  <p class="tagline">Science meets tradition in herbalism & botanical education</p>

  <nav>
    <ul>
      <li><a href="index.html#hero">Home</a></li>
      <li><a href="index.html#about">About</a></li>
      <li><a href="index.html#offerings">Offerings</a></li>
      <li><a href="zine.html">Zine</a></li>
      <li><a href="events.html">Events</a></li>
      <li><a href="publications.html">Publications</a></li>
      <li><a href="newsletter.html">Newsletter</a></li>
      <li><a href="blog.html">Blog</a></li>
      <li><a href="index.html#contact">Contact</a></li>
      <li><a href="https://www.instagram.com/triplegemherbs/">Instagram</a></li>
    </ul>
  </nav>
</header>
